<a href="https://colab.research.google.com/github/swapnil190301/EDA/blob/main/DA__LR_lab_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
sns.set_style('whitegrid')

In [13]:
df = pd.read_csv("https://raw.githubusercontent.com/TarekDib03/Analytics/master/Week2%20-%20Linear%20Regression/Data/climate_change.csv")

In [14]:
df

,Year,Month,MEI,CO2,CH4,N2O,CFC-11,CFC-12,TSI,Aerosols,Temp
0,1983,5,2.556,345.96,1638.59,303.677,191.324,350.113,1366.1024,0.0863,0.109
1,1983,6,2.167,345.52,1633.71,303.746,192.057,351.848,1366.1208,0.0794,0.118
2,1983,7,1.741,344.15,1633.22,303.795,192.818,353.725,1366.2850,0.0731,0.137
3,1983,8,1.130,342.25,1631.35,303.839,193.602,355.633,1366.4202,0.0673,0.176
4,1983,9,0.428,340.17,1648.40,303.901,194.392,357.465,1366.2335,0.0619,0.149
...,...,...,...,...,...,...,...,...,...,...,...
303,2008,8,-0.266,384.15,1779.88,321.405,244.200,535.072,1365.6570,0.0036,0.407
304,2008,9,-0.643,383.09,1795.08,321.529,244.083,535.048,1365.6647,0.0043,0.378
305,2008,10,-0.780,382.99,1814.18,321.796,244.080,534.927,1365.6759,0.0046,0.440
306,2008,11,-0.621,384.13,1812.37,322.013,244.225,534.906,1365.7065,0.0048,0.394
307,2008,12,-0.666,385.56,1812.88,322.182,244.204,535.005,1365.6926,0.0046,0.330

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 308 entries, 0 to 307
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Year      308 non-null    int64
 1   Month     308 non-null    int64
 2   MEI       308 non-null    float64
 3   CO2       308 non-null    float64
 4   CH4       308 non-null    float64
 5   N2O       308 non-null    float64
 6   CFC-11    308 non-null    float64
 7   CFC-12    308 non-null    float64
 8   TSI       308 non-null    float64
 9   Aerosols  308 non-null    float64
 10  Temp      308 non-null    float64
dtypes: float64(9), int64(2)
memory usage: 26.6 KB

In [16]:
df.corr()

,Year,Month,MEI,CO2,CH4,N2O,CFC-11,CFC-12,TSI,Aerosols,Temp
Year,1.000000,-0.025789,-0.145345,0.985379,0.910563,0.994850,0.460965,0.870067,0.022353,-0.361884,0.755731
Month,-0.025789,1.000000,-0.016345,-0.096287,0.017558,0.012395,-0.014914,-0.001084,-0.032754,0.014845,-0.098016
MEI,-0.145345,-0.016345,1.000000,-0.152911,-0.105555,-0.162375,0.088171,-0.039836,-0.076826,0.352351,0.135292
CO2,0.985379,-0.096287,-0.152911,1.000000,0.872253,0.981135,0.401284,0.823210,0.017867,-0.369265,0.748505
CH4,0.910563,0.017558,-0.105555,0.872253,1.000000,0.894409,0.713504,0.958237,0.146335,-0.290381,0.699697
N2O,0.994850,0.012395,-0.162375,0.981135,0.894409,1.000000,0.412155,0.839295,0.039892,-0.353499,0.743242
CFC-11,0.460965,-0.014914,0.088171,0.401284,0.713504,0.412155,1.000000,0.831381,0.284629,-0.032302,0.380111
CFC-12,0.870067,-0.001084,-0.039836,0.823210,0.958237,0.839295,0.831381,1.000000,0.189270,-0.243785,0.688944
TSI,0.022353,-0.032754,-0.076826,0.017867,0.146335,0.039892,0.284629,0.189270,1.000000,0.083238,0.182186
Aerosols,-0.361884,0.014845,0.352351,-0.369265,-0.290381,-0.353499,-0.032302,-0.243785,0.083238,1.000000,-0.392069
Temp,0.755731,-0.098016,0.135292,0.748505,0.699697,0.743242,0.380111,0.688944,0.182186,-0.392069,1.000000

In [17]:
input = df.iloc[:,:10]
output = df.iloc[:,10]
output

0      0.109
1      0.118
2      0.137
3      0.176
4      0.149
       ...
303    0.407
304    0.378
305    0.440
306    0.394
307    0.330
Name: Temp, Length: 308, dtype: float64

In [18]:
input

,Year,Month,MEI,CO2,CH4,N2O,CFC-11,CFC-12,TSI,Aerosols
0,1983,5,2.556,345.96,1638.59,303.677,191.324,350.113,1366.1024,0.0863
1,1983,6,2.167,345.52,1633.71,303.746,192.057,351.848,1366.1208,0.0794
2,1983,7,1.741,344.15,1633.22,303.795,192.818,353.725,1366.2850,0.0731
3,1983,8,1.130,342.25,1631.35,303.839,193.602,355.633,1366.4202,0.0673
4,1983,9,0.428,340.17,1648.40,303.901,194.392,357.465,1366.2335,0.0619
...,...,...,...,...,...,...,...,...,...,...
303,2008,8,-0.266,384.15,1779.88,321.405,244.200,535.072,1365.6570,0.0036
304,2008,9,-0.643,383.09,1795.08,321.529,244.083,535.048,1365.6647,0.0043
305,2008,10,-0.780,382.99,1814.18,321.796,244.080,534.927,1365.6759,0.0046
306,2008,11,-0.621,384.13,1812.37,322.013,244.225,534.906,1365.7065,0.0048
307,2008,12,-0.666,385.56,1812.88,322.182,244.204,535.005,1365.6926,0.0046

In [19]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

x_train,x_test,y_train,y_test = train_test_split(input,output,test_size = 0.2,random_state = 0)

In [20]:
linreg=LinearRegression()
linreg.fit(x_train,y_train)

LinearRegression()

In [21]:
y_pred=linreg.predict(x_test)
y_pred

array([-7.34237934e-03,  4.28108630e-01,  3.14324454e-01,  1.87594643e-01,
        3.30097588e-01,  2.51479495e-01,  3.51579776e-01, -1.28726341e-02,
        8.56528118e-03, -1.06283579e-02,  4.54268146e-01,  1.06839923e-01,
        4.25932567e-01,  1.42936572e-01, -2.73220649e-02,  3.73998925e-01,
        4.98275953e-01,  4.48499449e-01,  4.39177501e-01,  4.39762245e-01,
        3.09967384e-01,  3.34576090e-02,  1.79359071e-01,  1.22288235e-01,
        3.76221500e-01,  5.23118255e-02,  1.72432144e-01,  5.69904594e-01,
        2.29122243e-01,  2.20732909e-01,  4.00637447e-01,  5.18031016e-01,
        2.03148529e-01,  4.70075871e-01,  5.32001337e-01,  2.08389816e-01,
        3.53385096e-01,  4.59439570e-01,  2.24166247e-01,  4.82411019e-01,
        1.71877643e-01,  9.01325776e-03,  2.10047892e-01,  1.13865574e-02,
        2.14702690e-01,  5.20388392e-04,  2.12748874e-01,  3.53194261e-01,
        2.08838749e-01,  4.78188426e-01,  2.87777837e-01,  5.06224461e-01,
        4.95358817e-01,  1.37766803e-02,  1.24334808e-01,  1.66281392e-01,
        4.54007724e-01,  4.58741395e-02,  1.51206354e-01,  2.61202818e-02,
       -1.17874335e-02,  4.27159603e-01])

In [22]:
Accuracy=r2_score(y_test,y_pred)*100
print(" Accuracy of the model is %.2f" %Accuracy)

 Accuracy of the model is 71.05